%h1 Products

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th= Product.human_attribute_name :title
      %th= Product.human_attribute_name :price
      %th

  %tbody
    - @products.each do |product|
      %tr[product]
        %td= product.title
        %td= number_to_currency product.price
        %td= link_to "Buy", product_purchase_path(product), method: 'POST'
